/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
  font-family: "Fraunces";
  src: url("../../static/font/Fraunces_144pt_SuperSoft-Regular.ttf"),
    url("../../static/font/Fraunces_144pt-Bold.ttf");
}

:root {
  --ifm-font-family-base: "Fraunces", serif;
  --ifm-color-primary: #453a3a;
  --ifm-color-primary-dark: #3e3434;
  --ifm-color-primary-darker: #3b3131;
  --ifm-color-primary-darkest: #302929;
  --ifm-color-primary-light: #4c4040;
  --ifm-color-primary-lighter: #4f4343;
  --ifm-color-primary-lightest: #5a4b4b;
  --ifm-background-color: #fffde5;
  --ifm-heading-color: #453a3a;
  --ifm-hero-text-color: #453a3a;
  --ifm-font-color-base-inverse: #453a3a;
  --ifm-footer-background-color: transparent;
  --ifm-navbar-background-color: inherit;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #fffef5;
  --ifm-color-primary-dark: #fff9c3;
  --ifm-color-primary-darker: #fff7aa;
  --ifm-color-primary-darkest: #ffef5f;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #292323;
  --ifm-heading-color: #fff9c3 !important;
}

.navbar {
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px);
}

.navbar-sidebar__brand,
.navbar-sidebar__backdrop {
  background-color: var(--ifm-background-color);
}

.button {
  background-color: var(--ifm-color-primary-darker);
}

.button.button--secondary {
  color: var(--ifm-background-color);
}

.hero__title {
  font-style: italic;
}

.menu__link--active {
  color: var(--ifm-color-primary-dark);
  font-size: medium;
  font-weight: bold;
}
